body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.notifications{
  width: 450px;
  height: 450px;
  background-color: rgb(110, 110, 109);
  margin: 0 10px;
  border: 1px solid;
}

.requests{
  width: 450px;
  height: 450px;
  background-color: rgb(110, 110, 109);
  margin: 0 10px;
}







.header {
  background-color: #b9b9b9;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li a {
  color: white;
  text-decoration: none;
}