body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #F4F7FF;
}


.containerMain{
  background-color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.tipos{
  display: flex;
  gap: 20px;
  margin: 30px;
  height: 25px;
  align-items: center;
  text-align: center;
}