body {
  margin: 0;
  padding: 0;
  background-color: #F4F7FF;
  
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 570px;
  gap: 60px;
}

.notifications{
  display: flex;
  width: 450px;
  height: 450px;
  margin: 0 10px;
  border: 1px;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  text-align: center;
}

.requests{
  display: flex;
  width: 450px;
  height: 450px;
  margin: 0 10px;
  border: 1px;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  
}


.requests h2 {
  text-align: center;
  margin-bottom: 10px;
}

.notifications h2 {
  text-align: center;
  margin-bottom: 10px;
  
}


.centralizando button {
  margin-top: 80px;
  height: 55px;
  width: 370px;
  font-size: 20px;
  cursor: pointer;
  
}

.buttonRequests{
  margin-top: 80px;
  height: 55px;
  width: 370px;
  font-size: 20px;
  cursor: pointer;
  
}

.animeRequest img{
  height: 75px; 
}

.manutencao img {
  height: 75px;
}

.header {
  background-color: #F4F7FF;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li a {
  color: black;
  text-decoration: none;
}

