body {
  margin: 0;
  padding: 0;
  background-color: #F4F7FF;
  
}

.box {
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  height: 570px;
  gap: 60px;
  
}



.services{
  display: flex;
  width: 450px;
  height: 450px;
  margin: 0 10px;
  border: 1px;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
   box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  padding-bottom: 10px;

}

.requests h2 {
  text-align: center;
  margin-bottom: 10px;
}

.notifications h2 {
  text-align: center;
  margin-bottom: 10px;
  
}


.centralizando button {
  height: 55px;
  width: 370px;
  font-size: 20px;
  cursor: pointer;
  
}

.buttonNotifican{
  height: 55px;
  width: 370px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  background-color: #d9dadd;
}

.buttonNotifican:hover {
  background-color: #3c6267;
  color:white;
  transform: scale(1.1);
  transition: all 0.5s;
}




.buttonRequests{
  height: 55px;
  width: 370px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  background-color: #d9dadd;
}


.buttonRequests:hover {
  background-color: #3c6267;
  color:white;
  transform: scale(1.1);
  transition: all 0.5s;
}

.animeRequest img{
  height: 75px;
}

.manutencao img {
  height: 75px;
}

.header {
  background-color: #4b6c70;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
   box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.menu ul {
  list-style: none;
  display: flex;
  
}

.menu li a {
  color: #ffffff93;
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
  padding: 5px 10px; 
  border-radius: 5px;
}

.menu a:hover {
  color: #fffefe;
}

